docker/iib/10.0.0.9/integration/RESTAPI/RemoteFiles/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="InventoryServiceService" targetNamespace="http://ws.inventory/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.inventory/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="ws_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="InventoryServiceServiceSoapBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>

        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.inventory/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
  <xsd:include schemaLocation="ws_InlineSchema1.xsd"/>
    </xs:schema>
    </wsdl:types>
  <wsdl:message name="updateItemResponse">
    <wsdl:part element="tns:updateItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="items">
    <wsdl:part element="tns:items" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItemResponse">
    <wsdl:part element="tns:deleteItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByName">
    <wsdl:part element="tns:itemByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByNameResponse">
    <wsdl:part element="tns:itemByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItem">
    <wsdl:part element="tns:deleteItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByNameResponse">
    <wsdl:part element="tns:searchByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchByName">
    <wsdl:part element="tns:searchByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newItemResponse">
    <wsdl:part element="tns:newItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DALException">
    <wsdl:part element="tns:DALFault" name="DALException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateItem">
    <wsdl:part element="tns:updateItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByIdResponse">
    <wsdl:part element="tns:itemByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemsResponse">
    <wsdl:part element="tns:itemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newItem">
    <wsdl:part element="tns:newItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemById">
    <wsdl:part element="tns:itemById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InventoryService">
    <wsdl:operation name="items">
      <wsdl:input message="tns:items" name="items">
    </wsdl:input>
      <wsdl:output message="tns:itemsResponse" name="itemsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdl:input message="tns:updateItem" name="updateItem">
    </wsdl:input>
      <wsdl:output message="tns:updateItemResponse" name="updateItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemByName">
      <wsdl:input message="tns:itemByName" name="itemByName">
    </wsdl:input>
      <wsdl:output message="tns:itemByNameResponse" name="itemByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdl:input message="tns:deleteItem" name="deleteItem">
    </wsdl:input>
      <wsdl:output message="tns:deleteItemResponse" name="deleteItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <wsdl:input message="tns:newItem" name="newItem">
    </wsdl:input>
      <wsdl:output message="tns:newItemResponse" name="newItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <wsdl:input message="tns:searchByName" name="searchByName">
    </wsdl:input>
      <wsdl:output message="tns:searchByNameResponse" name="searchByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemById">
      <wsdl:input message="tns:itemById" name="itemById">
    </wsdl:input>
      <wsdl:output message="tns:itemByIdResponse" name="itemByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryServiceServiceSoapBinding" type="tns:InventoryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="items">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="items">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="itemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="itemByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="itemByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="newItem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="newItemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="itemById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="itemByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryServiceService">
    <wsdl:port binding="tns:InventoryServiceServiceSoapBinding" name="InventoryServicePort">
      <soap:address location="http://casedal:9080/inventory/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
