integration/RESTAPI/RemoteFiles/ws_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.inventory/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.inventory/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Item" type="tns:item"/>
  <xs:element ibmSchExtn:docRoot="true" name="deleteItem" type="tns:deleteItem"/>
  <xs:element ibmSchExtn:docRoot="true" name="deleteItemResponse" type="tns:deleteItemResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="itemById" type="tns:itemById"/>
  <xs:element ibmSchExtn:docRoot="true" name="itemByIdResponse" type="tns:itemByIdResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="itemByName" type="tns:itemByName"/>
  <xs:element ibmSchExtn:docRoot="true" name="itemByNameResponse" type="tns:itemByNameResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="items" type="tns:items"/>
  <xs:element ibmSchExtn:docRoot="true" name="itemsResponse" type="tns:itemsResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="newItem" type="tns:newItem"/>
  <xs:element ibmSchExtn:docRoot="true" name="newItemResponse" type="tns:newItemResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="sayHello" type="tns:sayHello"/>
  <xs:element ibmSchExtn:docRoot="true" name="sayHelloResponse" type="tns:sayHelloResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="searchByName" type="tns:searchByName"/>
  <xs:element ibmSchExtn:docRoot="true" name="searchByNameResponse" type="tns:searchByNameResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="updateItem" type="tns:updateItem"/>
  <xs:element ibmSchExtn:docRoot="true" name="updateItemResponse" type="tns:updateItemResponse"/>
  <xs:complexType name="items">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="itemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="price" nillable="true" type="xs:double"/>
      <xs:element minOccurs="0" name="imgAlt" type="xs:string"/>
      <xs:element minOccurs="0" name="img" type="xs:string"/>
      <xs:element name="quantity" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dalFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItem">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemById">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element ibmSchExtn:docRoot="true" name="DALFault" nillable="true" type="tns:dalFault"/>
</xs:schema>